# eclipse
.classpath
.project
.settings/


# intelliJ
.idea/
.idea/*/*
*.iml

# gradle
.gradle/
build/
engineering-everything-api/build/
engineering-everything-core/build/
engineering-everything-web/build/
engineering-everything-client/build/

# vagrant
.vagrant/