<div ng-controller="HeaderController as headerVm">

    <md-toolbar>
        <div class="md-toolbar-tools">

            <md-button ng-click="headerVm.toggleSidenav('left')" class="md-icon-button" aria-label="Toggle Menu">
                <i class="material-icons hamburger" aria-lable="Menu" ng-show="authenticated">menu</i>
            </md-button>
            <a ui-sref="realtime.global.Portfolio({mainPage: 'Global', subPage: 'Portfolio'})"
               class="pointer header hover-hilight">
                MYTRAH <span class="title">GMC</span>
                <md-tooltip md-direction="bottom" class="tt-black">Go Home</md-tooltip>
            </a>

            <div class="navv" ng-show="authenticated"> <!-- hide in smaller size, instead show in side nav -->

                <!-- Notification Menu -->
                <md-menu ng-if="user.roles.indexOf('ADMIN') >= 0">

                    <!-- Notification Header Button -->
                    <md-button ng-click="headerVm.openNotificationOverflowMenu($mdMenu.open, $event)"
                               class="overflow-btn notification-icon"
                               aria-label="Toggle Menu">
                        <i class="material-icons" size="20px" ng-if="headerVm.notification.enabled && headerVm.notification.notifications.length > 0">notifications</i>
                        <i class="material-icons" size="20px" ng-if="headerVm.notification.enabled && headerVm.notification.notifications.length == 0">notifications_none</i>
                        <i class="material-icons" size="20px" ng-if="!headerVm.notification.enabled">notifications_off</i>
                        <div class="badge shadow" ng-show="headerVm.notification.pendingCount > 0">
                            {{headerVm.notification.pendingCount > 99 ? '99+' : headerVm.notification.pendingCount}}
                        </div>
                        <md-tooltip md-direction="bottom" class="tt-black">Notifications {{headerVm.notification.enabled ? '' : 'disabled!'}}</md-tooltip>
                    </md-button>

                    <!-- Notification Pop-up -->
                    <md-menu-content class="notification-menu">
                        <div class="title">
                            <span class="p-10 inline">Notifications {{headerVm.notification.enabled ? '' : 'disabled!'}}</span>
                            <div class="float-right">
                                <div class="notification-enable-button inline">
                                    <md-switch class="inline m-0"
                                               aria-label="Change Notification enabled state"
                                               ng-model="headerVm.notification.enabled"
                                               ng-change="headerVm.enableWebNotification()">
                                        {{headerVm.notification.enabled ? 'Disable' : 'Enable'}}
                                    </md-switch>
                                    <md-tooltip md-direction="bottom" class="tt-black">
                                        {{headerVm.notification.enabled ? 'Disable' : 'Enable'}} Web Notification
                                    </md-tooltip>
                                </div>
                                <md-button class="float-right pointer notification-settings-icon">
                                    <i class="material-icons p-10"
                                       ng-click="headerVm.openUserSettings($event, 1)">settings</i>
                                </md-button>
                            </div>
                        </div>

                        <md-divider></md-divider>
                        <div class="body p-10">
                            <div ng-repeat="notification in headerVm.notification.notifications"
                                 ng-class="{'read': $index >= headerVm.notification.prevPendingCount}"
                                 class="notification-item {{::headerVm.notification.getColor(notification.type)}}">
                                <div class="inline item timestamp">{{::notification.timestamp | dateTime}}</div>
                                <div class="inline item type">{{::notification.type}}</div>
                                <div class="inline item source">{{::notification.source | uppercase}}</div>
                                <div class="inline item subject">{{::notification.subject}}</div>
                                <div class="block item body text-gray">{{::notification.body}}</div>
                                <md-divider></md-divider>
                            </div>
                            <div class="text-gray t-a-c p-10"
                                 ng-if="!headerVm.notification.notifications || headerVm.notification.notifications.length < 1">
                                <div ng-if="headerVm.notification.enabled">No notifications </div>
                                <div ng-if="!headerVm.notification.enabled" class="t-a-c">
                                    Notification are disabled. Kindly Enable the same.
                                </div>
                            </div>
                        </div>
                    </md-menu-content>
                </md-menu>

                <!-- User Info Menu -->
                <md-menu>
                    <md-button ng-click="headerVm.openUserOverflowMenu($mdMenu.open, $event)"
                               class="overflow-btn"
                               aria-label="Toggle Menu">

                        <!-- new | user pic -->
                        <img ng-src="assets/images/user-image/user-{{user.hasImage ? user.username : ''}}.jpg" alt="" class="user-image user-navbar"></img>
                        <span class="text-white">{{user.firstName ? user.firstName : user.username}}</span>
                        <md-tooltip md-direction="bottom" class="tt-black">User Info</md-tooltip>
                    </md-button>

                    <!-- User Menu Pop up -->
                    <md-menu-content class="user-menu">
                        <!-- new | user pic  -->
                        <div>
                            <div class="inline user-info block">
                                <h1 class="inline ellipsis">
                                    {{user.firstName ? user.firstName + ' ' + (user.lastName || '') : user.username}}
                                </h1>
                                <h2 class="ellipsis">{{user.email}}</h2>
                                <code class="ellipsis">
                                    Roles: <span ng-repeat="role in user.roles">{{role}}{{$last ? '' : ', '}}</span>
                                </code>
                            </div>
                            <img class="inline pull-right user-image user-setting-box" alt=""
                                 ng-src="assets/images/user-image/user-{{user.hasImage ? user.username : ''}}.jpg"></img>

                            <!-- Settings button -->
                            <md-button ng-click="headerVm.openUserSettings($event, 0)" class="md-raised md-primary user-settings">
                                <i class="material-icons">settings</i>
                                <span>Settings</span>
                            </md-button>

                            <!-- Logout -->
                            <md-button ng-click="headerVm.logout()" class="md-raised user-logout">
                                <span>Logout</span>
                            </md-button>
                        </div>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </md-toolbar>

    <!-- Side Navigation Pane -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-show="authenticated">

        <!-- Side Navigation Header -->
        <md-toolbar class="md-theme-light toolbar">
            <h1 class="md-toolbar-tools">GMC / {{activeTab | uppercase}} </h1>
            <div class="user-info">
                <img class="inline user-image user-sidenav" alt=""
                     ng-src="assets/images/user-image/user-{{user.hasImage ? user.username : ''}}.jpg"></img>
                <h2 class="inline ellipsis">
                    {{user.firstName ? user.firstName + ' ' + (user.lastName || '') : user.username}}
                </h2>
            </div>
        </md-toolbar>

        <!-- Side Navigation Buttons -->
        <md-content layout-padding class="content">

            <md-button aria-label="" class="nav-item"
                       ui-sref="realtime.global.Portfolio({mainPage: 'Global', subPage: 'Portfolio'})"
                       ng-click="headerVm.toggleSidenav('left')"
                       ng-class="{'md-accent': activeTab === 'realtime'}">
                <i class="material-icons">timeline</i>
                <span style="padding-left: 10px;">Realtime</span>
            </md-button>
            <md-button aria-label="" class="nav-item"
                       ui-sref="manage.dgr({dgrDate: undefined, selectedSite: 'Global'})"
                       ng-click="headerVm.toggleSidenav('left')"
                       ng-class="{'md-accent': activeTab === 'manage'}">
                <i class="material-icons">poll</i>
                <span style="padding-left: 10px;">Management</span>
            </md-button>
            <md-button aria-label="" class="nav-item"
                       ui-sref="analytics.timeseries"
                       ng-click="headerVm.toggleSidenav('left'); "
                       ng-class="{'md-accent': activeTab === 'analytics'}">
                <i class="material-icons">data_usage</i>
                <span style="padding-left: 10px;">Analytics</span>
            </md-button>
            <md-button aria-label="" class="nav-item"
                       ui-sref="admin.users"
                       ng-click="headerVm.toggleSidenav('left')"
                       ng-class="{'md-accent': activeTab === 'admin'}"
                       ng-if="user.roles.indexOf('ADMIN') >= 0">
                <i class="material-icons">group</i>
                <span style="padding-left: 10px;">Admin</span>
            </md-button>
            <md-button aria-label="" class="nav-item"
                       ui-sref="monitoring.connectivity"
                       ng-click="headerVm.toggleSidenav('left')"
                       ng-class="{'md-accent': activeTab === 'monitoring'}">
                <i class="material-icons">router</i>
                <span style="padding-left: 10px;">Monitoring</span>
            </md-button>
        </md-content>

        <div class="footer">
            <!-- <div class="link">Feedback</div>
            <div class="link">About</div>
            <div class="link">Terms</div> -->
            <div style="color: gray;">&copy; Copyright Mytrah 2017</div>
        </div>
    </md-sidenav>
</div>
